name: Testing stuff

on:
  push:
    branches:
      - feature

jobs:
  a_test_job:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: gihub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: commits
        env:
          COMMITS: ${{ toJson(github.event.commits) }}
        run: echo "$COMMITS"
      - name: commit messages
        env:
          COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
        run: echo "$COMMIT_MESSAGES"
      - name: joined commit messages
        env:
          JOINED_MESSAGES: ${{ join(toJson(github.event.commits.*.message)) }}
        run: echo "$JOINED_MESSAGES"
      - name: skip in commit messages
        env:
          COMMIT_MESSAGES_SKIP: ${{ contains(toJson(github.event.commits.*.message), "#skip") }}
        run: echo "$COMMIT_MESSAGES_SKIP"
      - name: skip in joined commit messages
        env:
          JOINED_MESSAGES_SKIP: ${{ contains(join(toJson(github.event.commits.*.message)), "#skip") }}
        run: echo "$JOINED_MESSAGES_SKIP"
# Test 7
